
body {
    font: 14px/1.25em sans-serif;
}
  

header {
  padding: 20px;
}

.intro {
  display: flex;
}

.intro > div {
  width: 33.333%;
}

.title {
  display: flex;
  flex-direction: column;
}

.github-stars {
  margin-top: auto;
}

h1 {
  font-size: 34px;
  font-weight: bold;
  line-height: 1.5em;
}

h2 {
  font-size: 24px;
  line-height: 1.3em;
}

p {
  margin-top: 20px;
  line-height: 1.5em;
}

p:first-child {
  margin-top: 0;
}


th {
  padding: 15px;
    background: #375EAB;
  text-align: center;
    color: #FFF;
  font-size: 20px;
}

th label {
  margin-left: 1em;
  font-size: 14px;
  cursor: pointer;
}

td {
  width: 50%;
  vertical-align: top;
}


footer {
  color: #888;
  padding: 20px 20px 29px;
  line-height: 2em;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.github-links {
  display: flex;
  align-items: center;
}

.suport-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-left: auto;
}

.suport-buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 0;
  gap: 8px;
  width: 220px;
  border: 1px solid #c6cad2;
  border-radius: 4px;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #13161b;
  text-decoration: none;
  transition: background 0.3s;
}

.suport-buttons a:hover {
  background: #f3f5f8;
}

.copy {
  font-size: 14px;
  padding: 5px;
  background: #80808099;
  border-radius: 5px;
  cursor: pointer;
}

.copy:hover {
  background: #808080cf;
}

@media (max-width: 1024px) {
  .info {
    flex-direction: column;
    align-items: flex-start;
  }

  .suport-buttons {
    margin: 0;
  }

  .github-links {
    margin-bottom: 15px;
  }
}

@media (max-width: 800px) {
  .github-stars {
    margin: 10px 0;
  }

  .intro {
    flex-direction: column;
  }

  .intro > div {
    width: 100%;
  }
}